<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Micro-Pak DMS</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="http://static.jstree.com/3.0.0-beta5/assets/bootstrap/css/bootstrap.css" />
    <link href="~/Content/jsTree/themes/default/style.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jsTree3/jstree.js"></script>

    <meta name="description" content="The description of my page" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand"> <img src="/Images/Logo.jpg" alt="logo" width="90" height="30" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        FormsIdentity identity = (FormsIdentity)Context.User.Identity;
                        var userData = FormsAuthentication.Decrypt(Request.Cookies[FormsAuthentication.FormsCookieName].Value).UserData;
                        string[] data = userData.Split(",".ToCharArray());
                        string userID = data[0];
                        string userRole = data[1];
                        if (userRole == "S")
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Administration <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Manage Companies", "Index", "Company")</li>
                                    <li>@Html.ActionLink("Manage Departments", "Index", "Dept")</li>
                                    <li>@Html.ActionLink("Manage Folders", "Index", "Folder")</li>
                                    <li>@Html.ActionLink("Manage Users", "Index", "User")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Create BarCode Sheet <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("SO Sheet", "Index", "vCreateSOBarCodeSheet")</li>
                                    <li>@Html.ActionLink("Barcode Sheet", "Index", "vCreateBarCodeSheet")</li>
                                </ul>
                            </li>
                            @*<li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Report <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Log Report", "LogReport", "DMSReport")</li>
                                </ul>
                            </li>*@
                        }
                        else if (userRole == "A")
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Administration <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Manage Folders", "Index", "Folder")</li>
                                    <li>@Html.ActionLink("Manage Users", "Index", "User")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Create BarCode Sheet <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("SO Sheet", "Index", "vCreateSOBarCodeSheet")</li>
                                    <li>@Html.ActionLink("Barcode Sheet", "Index", "vCreateBarCodeSheet")</li>
                                </ul>
                            </li>
                            @*<li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Report <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Log Report", "LogReport", "DMSReport")</li>
                                </ul>
                            </li>*@
                        }
                        else
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Create BarCode Sheet <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("SO Sheet", "Index", "vCreateSOBarCodeSheet")</li>
                                    <li>@Html.ActionLink("Barcode Sheet", "Index", "vCreateBarCodeSheet")</li>
                                </ul>
                            </li>
                            @*<li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Report <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Log Report", "LogReport", "DMSReport")</li>
                                </ul>
                            </li>*@
                        }
                    }


                </ul>
                @Html.Partial("_LoginPartial")

                    

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
            @*<footer>
                <p>&copy;  @DateTime.Now.Year - Developed by Asian TAT Limited</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
